<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu|Raleway" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css_static/global_NLI.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css_static/sign-up.css') }}">
        <title>Create </title>
    </head>
    <body>
        <img id="background" src="{{ url_for('static', filename='images/image1.jpg') }}" height="100%" width="100%">
        <div class="navbar">
                <button id="link-^" onclick="linkButtons(this.id)">Home</button>
                {% if not logged_in %}
                    <button id="link-^/signup" onclick="linkButtons(this.id)">Sign Up</button>
                    <button id="link-^/login" onclick="linkButtons(this.id)">Log In</button>
                {% else %}
                    {% if type == 'staff' %}
                        <button id="link-^/create-club" onclick="linkButtons(this.id)">Create a Club</button>
                    {% endif %}
                    <button id="link-^/clubs" onclick="linkButtons(this.id)">Clubs</button>
                    <button>
                        <form action="{{ url_for('logout') }}">
                            <input id = "button" type="submit" value="Logout"></input>
                        </form>
                    </button>
                    <button id="link-^/profile" onclick="linkButtons(this.id)">Profile</button>
                {% endif %}
            </div>
            

        <div class="page-content">
            <div id="block">
                <h1 >Register a New Club</h1>
                <form method='post'>
                    <div style="display: flex">
                        <div id="part1">
                            <h3>Club Name</h3>
                            <input type="text" id="input" name="name"><br><br>
                            <h3>Club President</h3>
                            <input type="text" id="input" name="president"><br><br>
                            <h3>Club Purpose</h3>
                            <textarea type="text" id="input" name="purpose"></textarea><br><br>
                            
                        </div>
                        <div id="part2">
                            <h3>Club Email</h3>
                            <input type="email" id="input" name="email"><br><br>
                            <h3>Club Advisor</h3>
                            <input type="text" id="input" name="advisor"><br><br>
                            <input type="submit" value="Submit" id="submit">
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="footer">
            <a href="mailto:forevergrace.15@gmail.com" target="_blank" style = "float: left; padding-left: 10%; padding-top: 1%; padding-bottom: 1%"> 
                <img src="{{ url_for('static', filename='images/maillogo.png') }}" style = "float: left;" 
                 alt="Mail Icon">
            </a>
            
            <a href="https://www.instagram.com" target="_blank" style = "float: right; padding-right: 20%; padding-top: 1%; padding-bottom: 1%"> 
                <img src="{{ url_for('static', filename='images/instaglogo.png') }}" style = "float: right;" 
                 alt="Instagram">
            </a>
    </div>
    
        <script src="{{ url_for('static', filename='js/style.js') }}"></script>
    </body>
</html>