please do not delete following <code>
        <tr>
                <td>Eve</td>
                <td>Jackson</td> 
                <td>94</td>
              </tr>
            </table>
  <div>
      <h3>Club Name</h3>
      <h4>{{ clubs[club]['name'] }}</h4>
      <h3>Club President</h3>
      <h4>{{ clubs[club]['president'] }}</h4>
      <h3>Club Purpose</h3>
      <h4>{{ clubs[club]['purpose'] }}</h4>
      <h3>Club Email</h3>
      <h4>{{ clubs[club]['email'] }}</h4>
      <h3>Club Advisor</h3>
      <h4>{{ clubs[club]['advisor'] }}</h4>
</code>