<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu|Raleway" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css_static/global_NLI.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css_static/log-in.css') }}">
        <title> Thank You!</title>
    </head>

    
    <body>
        <img id="background" src="{{ url_for('static', filename='images/image1.jpg') }}" height="100%" width="100%">
        <div class="navbar">
            <button id="link-^" onclick="linkButtons(this.id)">Home</button>
            {% if not logged_in %}
                <button id="link-^/signup" onclick="linkButtons(this.id)">Sign Up</button>
                <button id="link-^/login" onclick="linkButtons(this.id)">Log In</button>
            {% else %}
                {% if type == 'staff' %}
                    <button id="link-^/create-club" onclick="linkButtons(this.id)">Create a Club</button>
                {% endif %}
                <button class="active" id="link-^/clubs" onclick="linkButtons(this.id)">Clubs</button>
                <form action="{{ url_for('logout') }}">
                    <input id = "button" type="submit" value="Logout"></input>
                </form>
            {% endif %}
        </div>
        
        <div class="page-content">
            <div id="block">
                <h1 style="margin-bottom: 10%">Thank You!</h1>
                <h3>To log in now, please go <a href="{{ url_for('login_page') }}">here</a></h3>
            </div>
        </div>

        <div class="footer">
            <a href="mailto:forevergrace.15@gmail.com" target="_blank" style = "float: left; padding-left: 10%; padding-top: 1%; padding-bottom: 1%"> 
                <img src="{{ url_for('static', filename='images/maillogo.png') }}" style = "float: left;" 
                 alt="Mail Icon">
            </a>
            
            <a href="https://www.instagram.com" target="_blank" style = "float: right; padding-right: 20%; padding-top: 1%; padding-bottom: 1%"> 
                <img src="{{ url_for('static', filename='images/instaglogo.png') }}" style = "float: right;" 
                 alt="Instagram">
            </a>
    </div>
        
        <script src="{{ url_for('static', filename='js/style.js') }}"></script>
    </body>
</html>